{% extends "bookings/list.html" %}

{% block list_controls %}
    <div class="col-6 col-md-3">
        <div class="input-group">
            <span class="input-group-text bi-search mr-2 "></span>
            <input type="text" class="form-control" placeholder="Buscar...">
        </div>
    </div>
    <div class="col-6 justify-content-start order-first">
        <button type="button" class="btn btn-primary">
            Nueva reserva
        </button>
    </div>
{% endblock list_controls %}

{% block list_head_row %}
<tr class="justify-content-between">
    <th scope="col">Localizador</th>
    <th scope="col">Check-in</th>
    <th scope="col">Habitación</th>
    <th scope="col">Datos de contacto</th>
    <th scope="col"></th> {% comment %} This is the actions column {% endcomment %}
</tr>
{% endblock list_head_row %}


{% block list_body %}
<tr>
    {% for booking in booking_list %}
    <td>{{booking.code}}</td>
    <td>{{booking.start_date | date:'d m y' }}</td>
    <td>{{booking.room}}</td>
    <td>{{booking.contact_info.name}}
    {% endfor %}
</tr>
{% endblock list_body %}