{% extends "bookings/base.html" %}

{% block content %}
<div class="row mb-3 justify-content-between align-items-center">
    {% block list_controls %}
    {% endblock list_controls %}
</div>

<div class="table-responsive">
    <table class="table table-hover table-responsive">
        <thead>
            {% block list_head_row %}
            {% endblock list_head_row %}
        </thead>

        <tbody>
            {% block list_body %}
            {% endblock list_body %}
        </tbody>
    </table>
</div>
{% endblock content %}